html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

$back-ground: #EFF1F3;

#app {
  background-color: #EFF1F3;
  font-family: 'Rubik', sans-serif;
}

.thin-bordered {
  border: 1px solid #D8D5DB !important;
  border-radius: 7px;
}
